<% content_for :title, "Following Others" %>

<div class="container">
  <h1>People You're Following</h1>

  <% if @following_others.any? %>
    <div class="followings-list">
      <% @following_others.each do |user| %>
        <%= render 'users/user_card', user: user %>
      <% end %>
    </div>
  <% else %>
    <div class="empty-state">
      <h2>You're not following anyone yet</h2>
      <p>Start following other users to see their sleep records and connect with the community.</p>
      <%= link_to "Browse Users", users_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= render 'shared/user_card_styles' %>
